.App {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.control{
  width: 40vw;
}

.heading {
  font-size: larger;
}

.shadow-text {
  font-size: larger;
  font-weight: bolder;
}

.box-inner{
  width: 40vw;
  height: 50vh;
  padding: 20vh 0vw;
  background-color: #006699;
  text-align: center;
  color: white;
}


